/* Organização do blockquote de citação*/

.citacao {
  width: 270px;
  box-sizing: border-box;
  margin: 15px;
  padding: 10px;
}

.citacao {
  float: right;
}

.citacao p{
  text-align: justify;
  margin: 60px 0;
}
